<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.ClienteMapper">

	<resultMap type="cliente" id="rmCliente">
	
		<result column="NOMBRE" jdbcType="VARCHAR" property="nombre"/>
		<result column="APELLIDO_PATERNO" jdbcType="VARCHAR" property="apellido_paterno"/>
		<result column="APELLIDO_MATERNO" jdbcType="VARCHAR" property="apellido_materno"/>
		<result column="DIRECCION" jdbcType="VARCHAR" property="direccion"/>
		<result column="EMAIL" jdbcType="VARCHAR" property="email"/>
		
		<association property="usuario" column="DNI" javaType="usuario"
			select="persistencia.mappers.UsuarioMapper.buscarUsuarioSinClave"/>
		<association property="tabla_postal" column="CODIGO_POSTAL"
			javaType="tabla_postal" select="persistencia.mappers.Tabla_PostalMapper.obtenerUno" />
		<association property="sexo" column="ID_SEXO" javaType="sexo"
			select="persistencia.mappers.SexoMapper.obtenerUno" />
		
		
	</resultMap>
	
	<insert id="registrarCliente" parameterType="cliente">
		INSERT INTO
		CLIENTE VALUES (#{usuario.dni},#{nombre},#{apellido_paterno},
		#{apellido_materno},#{direccion},#{tabla_postal.codigo},
		#{sexo.id},#{email})
	</insert>
	
	<select id="buscar" parameterType="cliente" resultMap="rmCliente">
		SELECT DNI, NOMBRE, APELLIDO_PATERNO, APELLIDO_MATERNO, DIRECCION, CODIGO_POSTAL,
		ID_SEXO, EMAIL FROM CLIENTE WHERE DNI = #{usuario.dni} 
	</select>
 
</mapper> 