<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.EspecieMapper">

	<resultMap type="especie" id="rmEspecie">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
	</resultMap>

	<select id="obtenerTodos" resultMap="rmEspecie">
		SELECT ID,DESCRIPCION
		FROM ESPECIE
	</select>
	
	<select id="obtenerUno" parameterType="int" resultType="especie">
		SELECT ID, DESCRIPCION 
		FROM ESPECIE WHERE ID = #{ID_ESPECIE}
	</select>
 
</mapper> 