<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.EstadoMapper">
	<resultMap type="estado" id="rmEstado">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
	</resultMap>
 
</mapper> 