<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="persistencia.mappers.MascotaMapper">

	<insert id="registrar" parameterType="mascota">
		INSERT INTO MASCOTA VALUES (#{cliente.usuario.dni}, #{id}, #{nombre}, #{especie.id}, #{fecha_nacimiento}, #{raza})
	</insert>
	
	<select id="contarMascotas" parameterType="string" resultType="int">
		SELECT (COUNT(*) + 1) FROM  MASCOTA WHERE DNI = #{dni}
	</select>

	<delete id="eliminar" parameterType="mascota">
		DELETE FROM MASCOTA WHERE DNI = #{cliente.usuario.dni} AND #{id}
	</delete>

	<update id="actualizar" parameterType="mascota">
		UPDATE MASCOTA
		SET NOMBRE = #{nombre}
		SET ID_ESPECIE = #{especie.id}
		SET FECHA_NACIMIENTO = #{fecha_nacimiento}
		SET RAZA = #{raza}
		WHERE DNI= #{cliente.usuario.dni} AND ID = #{id}
	</update>


</mapper> 