<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.MedicoMapper">
	
 	<insert id="registrarMedico" parameterType="medico">
		INSERT INTO
		MEDICO VALUES (#{usuario.dni},#{nombre},#{apellido_paterno},
		#{apellido_materno},#{direccion},#{tabla_postal.codigo},
		#{sexo.id})
	</insert>
 
</mapper> 