<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.RazaMapper">
 	<resultMap type="raza" id="rmRaza">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
		<association property="especie" column="ID_ESPECIE"
			javaType="especie" select="persistencia.mappers.EspecieMapper.obtenerUno" />
	</resultMap>

	<select id="obtenerTodos" parameterType="int" resultMap="rmRaza">
		SELECT ID_ESPECIE,ID,DESCRIPCION
		FROM RAZA WHERE ID_ESPECIE = #{ID}
		
	</select>
</mapper> 