<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 
<mapper namespace="persistencia.mappers.RazaMapper">

	<resultMap type="raza" id="mpRaza">
		<association property="especie" javaType="especie">
			<result column="ID_ESPECIE" property="id"/>
		</association>
	</resultMap>
	
	<select id="getRazas">
		SELECT ID_ESPECIE AS COD_ESP, 
	</select>
 
</mapper> 