<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="persistencia.mappers.SexoMapper">

	<resultMap type="sexo" id="rmSexo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
	</resultMap>

	<select id="obtenerTodos" resultMap="rmSexo">
		SELECT ID,DESCRIPCION
		FROM SEXO
	</select>
	
	<select id="obtenerUno" parameterType="int" resultType="sexo">
		SELECT ID, DESCRIPCION 
		FROM SEXO WHERE ID = #{ID_SEXO}
	</select>

</mapper> 