<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="persistencia.mappers.Tabla_PostalMapper">

	<resultMap type="tabla_postal" id="rmPostal">
		<id column="CODIGO" jdbcType="INTEGER" property="codigo" />
		<result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
	</resultMap>

	<select id="obtenerTodos" resultMap="rmPostal">
		SELECT CODIGO,DESCRIPCION
		FROM
		TABLA_POSTAL
	</select>

	<select id="obtenerUno" parameterType="string" resultType="tabla_postal">
		SELECT CODIGO, DESCRIPCION 
		FROM TABLA_POSTAL WHERE CODIGO = #{CODIGO_POSTAL}
	</select>
</mapper> 