html,body {
	padding-top: 25px;
	background-color: #f5f5f5;
	height: 100%;
}

header {
	text-align: center;
	color: #fff;
	background: #18bc9c;
}

header .container {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media ( min-width :768px) {
	header .container {
		padding: 200px 0 100px;
	}
	header .intro-text .name {
		font-size: 5em;
	}
	header .intro-text .skills {
		font-size: 1.75em;
	}
}

@media ( min-width :768px) {
	.navbar-fixed-top {
		padding: 25px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
	}
	.navbar-fixed-top .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-fixed-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-fixed-top.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}

.navbar {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.navbar a:focus {
	outline: 0;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
	outline: 0;
}

.navbar-default,.navbar-inverse {
	border: 0;
}


@media ( max-width :767px) {
	section {
		padding: 75px 0;
	}
	section.first {
		padding-top: 75px;
	}
}

.footer-bar .bottom-info {
	color: #fff;
	text-align: center;
	font-size: 11px;
	padding: 10px 20px;
	height: 30px;
	background: #355470;
}

.form-signin {
	max-width: 255px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/*Lo segundo, el container, con algura mínima del 100% y un margen inferior negativo igual al alto que queramos darle al pie*/
#container {
	min-height: 100%;
	margin-bottom: -30px;
	position: relative;
}

/*Lo tercero, el pie con la altura deseada (igual al margen negativo de antes)*/
#footer {
	height: 30px;
	position: relative;
}

#cabecera {
	padding: 0px 0;
}

#sidebar-wrapper {
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

/*Y terminamos con el clear, que ha de ser tan alto como el pie y "limpiar" todos los floats*/
.clear {
	height: 30px;
	clear: both;
}

.form-signup {
	max-width: 255px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.inline-form {
	margin-top:15px;
}

.btn{
	width: 100%
	
}

#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}        
#toast-container > .toast-warning:before {
    content: "\f003";
}
#toast-container > .toast-error:before {
    content: "\f001";
}
#toast-container > .toast-info:before {
    content: "\f005";
}
#toast-container > .toast-success:before {
    content: "\f002";
}